%section.team
  .container
    .row
      .col-md-10.col-md-offset-1.col-md-10.col-sm-offset-1.text-center
        %h1 YOUR CHOICE IS WHAT WILL LEAD YOU
        .border.center-block
        %p.tagline Have you ever seen a post and would like to say something about that candidate whether good or bad depending on your opinion and view toward that candidate?, well this platform is for the 2017 election campaign to help the citizen and candidate interact with each other and share what they think about each other, so, sign up and share your opinion with your candidates
        %h2 What you can do on this platform!
        %ul{:style => "text-align: left;"}
          %li Sign up for free
          %li comment and share your opinion about the candidate
          %li upvote or downvote the candidate for him or her to know his position before even voting happens
          %li Share the candidate's profile in any socail media eg facebook, twitter etc
          
