%section.team
  .container
    .row
      .col-md-10.col-md-offset-1.col-md-10.col-sm-offset-1.text-center
        %h1 Sitra Consultancy Firm
        .border.center-block
        %p.tagline Sitra consultancy is a Business Development based social services consultancy firm that was established in the year 2014 by a group of Kenyan and Somalia professionals who had a motivation to develop the institutional capacity of public and private entities in the horn of Africa.Sitra is registered both in Kenya and Somalia. Sitra has been engaged in providing comprehensive social amenities and enterprise consultancy services. Through our unique Franchise and widespread network of agents across multiple locations in the Horn of Africa, we cater to the needs of clients across the region. We create a platform for the business community, education institution, hiring companies, and job seekers for the fulfillment of their requirements efficiently. Further, the success of our company can be defined by the regular job placement and internship of graduates from different institutions.
        %h1 Our Consultancy Services Includes: what do we do
        %ul{:style => "text-align: left;"}
          %li Accounting packages training
          %li Institutional capacity building and restructuring programs
          %li Business profile plan
          %li NGO/grant proposal writing
          %li Book keeping/accounting
          %li Tendering process documents  company registration services
          %li Institutional standard operating procedures and policies developments (SOP)
          %li Career Guidance and counseling services
          %li Research services (baseline surveys, need assessments)
          %li Educational policies, frameworks and Curriculum review
          %li Investment and Enterprise business needs Analysis Consultant
          %li Youth empowerment, leadership and programs for local governance services
          %li Technical writings; academic research writings, thesis and Projects
          %li Job Placements and resume development both National and International Level.
