/*
 *= require 'masonry/transitions'
 *= require 'masonry/fluid'
 *= require 'masonry/right-to-left'
 *= require_self
 *= require social-share-button
 */

 body {
	font-family: "Proxima Nova";
	font-weight: 100;
	background-color: aliceblue;
	margin-right: -25rem;
}
@media (min-width: 768px) {
	.container {
		width: 97%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.carousel-inner {
	.item {
		.img-full {
			img {
				width: 100%;
				height: 60rem;
			}
		}
	}
}

#posts {

	.post_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	.box {
		.col-lg-12 {
			position: relative;
    		min-height: 1px;
    		padding-left: 0px;
    		padding-right: 0;
		}
	}
}



.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
	font-size: 2rem;
    font-weight: 500;
}

header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
	#logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			font-size: 2.5rem;
  			font-weight: 500;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}
.navbar {
  position: relative;
  min-height: 82px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#posts {
    margin: 0 auto;
    width: 87%;
    .box {
	  margin: 10px;
	  width: 42rem;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: 30rem;
	  }
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}

}


@import 'home.scss';
@import 'posts.scss';
@import "social-share-button";
@import "bootstrap-sprockets";
@import "bootstrap";