#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 2rem;
	line-height: 1;
	font-weight: 700;
	span {
		font-size: 1.5rem;
    	color: darkmagenta;
	}
}
.container {
	.navbar-right {
		float: right !important;
	    margin-right: -15px;
	    margin-bottom: 1rem;
	    padding-top: 2rem;
	}
	.navbar-nav > li > a {
		padding-top: 7px;
		padding-bottom: 5px;
  	}

  	.btn-default {
  		color: #333;
		background-color: #fff;
		border-color: #ccc;
		margin-left: 1rem;
  	}
	.navbar-brand {
		margin-left: -18px;
	    font-size: 3rem;
	    padding-top: 2.3rem;
	    font-weight: 500;
	}

	.navbar-form {
		padding-top: 0;
		margin-top: 0;
	}

}




#posts {
	.post {
		background: #F8F9FA;
		width: 30%;
		float: left;
		margin: 1rem 1.5%;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.post_image {
			height: 100%;
			overflow: hidden;
			img {
				width: 100%;
				border-radius: .3rem .3rem 0 0;
			}
		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 800;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.7rem;
				a {
				    text-decoration: none;
				    color: #333233;
				    font-size: 2rem;
				    font-weight: 400;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: 1.3rem;
    				font-weight: 500;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}